* {
    box-sizing: border-box;
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    color: #fff;
    background-color: #000;
    height: 100%;
}

.machine-status {
    font-size: 1.5em;
}

.dis.status {
    border-radius: 5px;
    padding: 15px;
    background: #fff;
    color: #000;

    animation: blink 1s ease 0.2s infinite;
}

.dis.status:hover {
    animation-play-state: paused;
}

.machine {
    position: absolute;
    width: 90%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.control {
    /*display: none;*/
}

.control .input-materials {
    height: 80px;
    width: 400px;
    margin: auto;
    margin-top: 50px;
}

.control .input-materials > div {
    display: inline-block;
    margin: 10px 20px;
}

.control .textile {
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    height: 35px;
    overflow: hidden;
    width: 240px;
    color: #fff;
    border: 1px dashed #ccc;
    position: relative;
    float: left;
}

.control .textile select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px;
    width: 268px;
    color: #fff;
    font-size: em;

}
.control .liters {
    position: relative;
    width: 80px;
    margin: auto;
    float: left;
}

.control .input-weight {
    padding: 10px 20px 10px 10px;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgba(245, 245, 245, 0.3);
    width: 80px;
    text-align: center;
    align-content: center;
    font-size: 1.2em;
    font-weight: bolder;
    outline: none;
    color: rgb(150, 150, 150)
}

.control .input-weight ~ label {
    font-weight: bolder;
    position: absolute;
    top: 10px;
    right: 1px;
    font-size: 1.3em;
    color: rgb(150, 150, 150)
}

.control .RGB input {
    padding: 10px 10px 10px 20px;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgba(245, 245, 245, 0.3);
    width: 80px;
    text-align: center;
    align-content: center;
    font-size: 1.2em;
    font-weight: bolder;
    outline: none;
}

.control .RGB div:not(.color-wheel) {
    position: relative;
    display: inline-block;
    margin: 20px 20px;
}

.control .RGB label {
    position: absolute;
    top: 10px;
    left: 0px;
    font-size: 1.2em;
    font-weight: bolder;
    cursor: text;
}

.control .RGB .color-wheel {
    display: block;
    margin: 30px;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background-color: #000;
    margin-left: 10px;
    transition: all 1s ease;
    margin: auto;
    border: 3px solid #fff;
}

.control .RYB {
    font-size: 1.2em;
    font-weight: bolder;
    margin-left: 20px;

}

.control .RYB p:not(.amounts) {
    display: inline-block;
    margin-right: 35px;
    margin-left: 5px;
    padding: 5px 7px;
    border: 5px solid #fff;
    width: 60px;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.control .RYB p:nth-child(2) {
    border-color: #f00;
}
.control .RYB p:nth-child(4) {
    border-color: #ff0;
}
.control .RYB p:nth-child(6) {
    border-color: #00f;
}

.control .control-machine h2 {
    text-transform: uppercase;
}

.control .machine-btn {
    margin-top: 20px;

}

.control .machine-btn button {
    border: 3px solid #fff;
    outline: none;
    padding: 7px 10px;
    font-weight: bolder;
    color: #fff;
    background: transparent;
    cursor: pointer;

}
.control .machine-btn button:nth-child(odd) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-color: peru;
    border-right: 3px solid rgba(205, 134, 63, 0.7);
    margin-right: -3px;
}
.control .machine-btn button:nth-child(even) {
    margin: 0;
    border-color: saddlebrown;
    border-left: 3px solid rgba(139, 69, 19, 0.3);
    margin-right: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.control .machine-btn button:last-child {
    margin: 0;
}

@keyframes blink {
    0% {
        background: #fff;
        color: #000;
    }
    50% {
        background: #000;
        color: #fff;
    }
}
